{% style %}
.product-form__submit{
    margin-bottom: 1rem;
    width: 70%;
    height: 2.6rem;
    border-radius: .5rem;
    border: 2px solid var(--black-color);
    background:rgb( var(--color-background));
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
}
.product-buy-btn{
    color: var(--white-color);
    background-color: var(--black-color);
   
}
@media screen and (max-width:  450px){
    .product-form__submit{
      width: 100%;
    }
}
{% endstyle %}
<product-form>
    <button
        id="ProductSubmitButton-{{ section_id }}"
        type="submit"
        name="add"
        class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
        {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
          disabled
        {% endif %}
      >
        <span>
          {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
            {{ 'products.product.sold_out' | t | capitalize}}
          {%- else -%}
            {{ 'products.product.add_to_cart' | t | capitalize}}
          {%- endif -%}
        </span>
        {%- render 'loading' -%}
      </button>
      <button class="product-form__submit product-buy-btn">{{ 'products.product.buy_button' | t }}</button>
  </product-form>