
{% style %}
.header-menu-box{
    display: flex;
    align-items: center;
}
.left-menu-position{
    justify-content: flex-start;
}
.center-menu-position{
    justify-content: center;
}

.right-menu-position{
    justify-content: flex-end;
}

.link-box{
    padding: 1.2rem;
}
.link-box a{
    color: var(--color-foreground);
    font-family: var(--self_font);
    font-size: 1.2rem;
}

.link-box::after{
    position: relative;
    left: 50%;
    display: block;
    content: '';
    width: 0;
    height: 4px;
    border-radius: 2px;
    background: {{section.settings.color_underline}};
    transition: all .3s ease-in-out;
}

.link-box:hover::after{
    position: relative;
    left: 0%;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: {{section.settings.color_underline}};
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 750px){
    .header-menu-box{
        display: none;
    }
}

{% endstyle %}


<div class='header-menu-box {{ section.settings.menu_position }}-menu-position' >
    {% for link in menu.links %}
        <div class='link-box'>
            {{ link.title | link_to:link.url }}
        </div>
    {% endfor %} 
</div>   