{% comment %} <div class='collage-container'>
    {% for collection in collections %}
        {{ collection.products[0].title }}
    {% endfor %}
</div> {% endcomment %}
{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}