{%- if predictive_search.performed -%}
    <div id="predictive-search-results">
      {%- if predictive_search.resources.products.size > 0 -%}
        <h3 id="predictive-search-products">
          Products
        </h3>
        <ul role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            <li role="option">
              <a href="{{ product.url }}">
                {{ product | image_url: width: 50 | image_tag }}
                <span>{{ product.title }}</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <button>
        Search for “{{ predictive_search.terms }}”
      </button>
    </div>
  {%- endif -%}