a{
    text-decoration:unset
}
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
body{
    position: relative;
}
.text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}