a{
    text-decoration:none;
    color: inherit;
}
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
body{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* 多行文本溢出 */
.text-ellipsis-multiline{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.intersection-el{
    visibility: hidden;
}

.animate-intersection-el{
    visibility: visible;
    animation: zoomBox ease-in-out 1s;
}
.line-through{
    text-decoration: line-through;
}
.gradient{
    background: var(--gradient-background);
    background-attachment: fixed;
  }
  .hidden{
    display:none;
}
.scroll-bar-none {
    overflow: auto; /* 保持可滚动 */
    scrollbar-width: none; /* 对于 Firefox 隐藏滚动条 */
  }
   
  .scroll-bar-none::-webkit-scrollbar {
    display: none; /* 对于 Chrome, Safari 和 Opera 隐藏滚动条 */
  }

  .transition-img:hover{
    transition: transform .5s ease-in-out;
    transform: scale(1.2);
}
.transition-img{
    transition: transform .5s ease-in-out;
    transform: scale(1.0);
}
.language-span{
    margin-left: 1.5rem;
    font-family: var(--self_font);
    font-size: 1rem;
  }
  div{
    box-sizing: border-box;
}
@keyframes zoomBox {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
